:root {
  /* Font */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --accent-cl: #2196f3;
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  --third-txt-cl: #ffffff;
  --hero-btn: #188ce8;

  /* Bacground colors */
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #f5f4fa;
  --third-bg-cl: #2f303a;

  /* Other colors */
  --header-border-cl: #ececec;
  --header-border-cl-currenn: #000000;
  --projects-list-border-cl: #eeeeee;
  --main-icon-cl: #afb1b8;
  --backdrop: rgba(0, 0, 0, 0.2);
  --modal-btn-bg: rgba(0, 0, 0, 0.1);
}
